*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* quiero ver la forma de que se pinte de arriba hacia abajo */
  transition: all 0.8s ease;
}

.darkMode {
  background-color: black;
  color: #ccc;
}


/* header section */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  padding-block: 0.2rem;
  padding-inline: 0.2rem;
  position: static;
}

.contenedorIconos {
  /* display: none; */
  position: fixed;
  bottom: 50px;
  background-color: white;
}

.header .nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header .nav-links li a {
  color: black;
  font-size: 25px;
}

body.darkMode .nav-links li a {
  color: #ffffff;
}

/* main section */

img {  
  width: 100%;
  height: auto;
  display: block;
}

.whatsapp-logo a {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 4rem;
  color: green;
}

.section-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* seccion de cards */

.content-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #7a9a9b;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border:  1.5px solid;

  background-color: #7a9a9b;
}

.card a {
  margin-top: 101px
}

/* categorias section */

.categorias{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem;
}

.globo-categoria{
  height: 8rem;
  width: 8rem;
  background-color: #ccc;
  border-radius: 2rem;
  text-align: center;
  align-content: center;
}




/* photo-gallery*/

.photo-gallery {

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* muy bueno esto! */
.photoHover {
  transition: all 0.5s ease;  
}

.photoHover:hover {
  transform: scale(1.1);
}

/* registration-form */
 
.registration-form  {
  text-align: center;
  border: 1px solid #7a9a9b;
  background-color: rgb(48, 9, 9);

}

.registration-form  p {
  padding-bottom: 1em;
}

form {
  text-align: left;
}

#list-checkbox {
  list-style-type: none;

}

#comentarios {
  width: 20rem;
  height: 12rem;
}

/* footer*/
.footer {
  background-color: black;
  color: beige;
  height: 300px;
}

.footer section {
  text-align: center;
  padding: 10px;
}

.footer section p {
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.footer section p > a{
  color: antiquewhite;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
}

