*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* quiero ver la forma de que se pinte de arriba hacia abajo */
  transition: all 0.8s ease;
  /* background-color: rgba(242, 242, 242, 1); */
}

.darkMode {
  background-color: black;
  color: #ccc;
}


/* header section */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  padding-block: 0.2rem;
  padding-inline: 0.2rem;
  position: static;
}

.contenedorIconos {
  position: fixed;
  bottom: 0;
  background-color: white;
  z-index: 2;
  width: 100%;
  padding: 0.5rem;
  border-top: 1px solid #ccc;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header .nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header .nav-links li a {
  color: black;
  font-size: 25px;
}

body.darkMode .nav-links li a {
  color: #ffffff;
}

/* main section */

img {  
  width: 100%;
  height: auto;
  display: block;
}

.whatsapp-logo a {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 4rem;
  color: green;
  /* despues ponelo en el 1024 */
  display: none;
}

.section-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

  /* seccion de cards */

/* vamos a hacer esta seccion teniendo en concideracion el modelo width: 375px height: 667 */
.content-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.card {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-card{
  text-align: center;
}

/* categorias section */

.container-categorias {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0.5rem;
  gap: 0.5rem;
}

.globo-categoria {
  width: calc(50% - 0.25rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  padding: 2rem 0rem;
  background-color: rgba(242, 242, 242, 1);
  border: 1px #ccc solid;
  border-radius: 1rem;
}

.globo-categoria i {
  font-size: 1.6rem;
}

/* photo-gallery*/

.photo-gallery {

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 1rem;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* muy bueno esto! */
.photoHover {
  transition: all 0.5s ease;  
}

.photoHover:hover {
  transform: scale(1.1);
}

/* registration-form */
 
.registration-form  {
  text-align: center;
  border: 1px solid #7a9a9b;
  background-color: rgb(48, 9, 9);

}

.registration-form  p {
  padding-bottom: 1em;
}

form {
  text-align: left;
}

#list-checkbox {
  list-style-type: none;

}

#comentarios {
  width: 2rem;
  height: 12rem;
}

/* footer*/
.footer {
  background-color: black;
  color: beige;
  height: 300px;
}

.footer section {
  text-align: center;
  padding: 10px;
}

.footer section p {
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.footer section p > a{
  color: antiquewhite;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
}
.social-icons > li:first-child {
  color:rgb(48, 9, 9)
}

.social-icons > li:nth-child(2) {
  color: blue;
}

.social-icons > li:last-child{
  color: blue;
}