*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  height: 60px;
  padding: 5px 10px;

  position: static;
}

.header .nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header .nav-links li a {
  color: black;
}

/* main section */

main #banner {
  width: 100%;
  height: auto;
}

.section-cards {
  
  text-align: center;
}
.content-card {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 14px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 135px;
  border:  solid;

  max-width: 300px;
  max-height: 300px;
  border-radius: 15px;
  background-color: #7a9a9b;
}

.card img {
  flex-grow: 1;
  margin: 3px;
  border-radius: 14px 14px 0px 0px;
}

.card footer {
  margin-top: 3px;
  flex-grow: 4;
}

.card a {
  margin-top: 101px
}

/* section-atumm*/

.section-autumm {
  display: flex;
  margin-top: 30px;
  padding: 20px;
  height: 100vw;
  max-height: 100vw;
  background-color: rgb(34, 36, 35);
}

.section-autumm .left-part {
  width: 400px;
  height: auto;
}

.section-autumm  img {
  width: 240px;
}


/* section-footer*/

.footer {
  background-color: black;
  color: beige;
  height: 300px;
}

.footer section {
  text-align: center;
  padding: 10px;
}

.footer section p {
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.footer section p > a{
  color: antiquewhite;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
}